<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Disponibilidad</title></head>
<body>
<h2>Disponibilidad del inmueble [[${id_inmueble}]]</h2>

<table border="1">
    <tr>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Reserva Directa</th>
        <th>Política Cancelación</th>
    </tr>
    <tr th:each="d : ${disponibilidades}">
        <td th:text="${d.fecha_inicio}"></td>
        <td th:text="${d.fecha_fin}"></td>
        <td th:text="${d.reserva_directa}"></td>
        <td th:text="${d.politica_cancelacion}"></td>
    </tr>
</table>


</body>
</html>
