<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="login-container">
    <a th:href="@{/home}">
      <img th:src="@{/images/logo2.png}" alt="Logo" class="login-logo">
    </a>

    <h1 class="login-title">Login</h1>
    <p class="login-subtitle">Rent a home</p>

    <div th:if="${error}" class="mensaje-error">
      <p th:text="${error}"></p>
    </div>
    <div th:if="${mensaje}" class="mensaje-ok">
      <p th:text="${mensaje}"></p>
    </div>

    <form th:action="@{/login}" method="post" class="login-form">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <div class="show-password">
          <input type="checkbox" id="showPassword" onclick="togglePassword()">
          <label for="showPassword">Show password</label>
        </div>
      </div>

      <button type="submit" class="btn-login">Iniciar Sesión</button>
    </form>



    <div class="login-links">
      <p class="link">Forgot password?</p>
      <a th:href="@{/registro}" class="link destacado">Don't have an account? Sign Up</a>
    </div>
  </div>

  <script>
    function togglePassword() {
      const passwordInput = document.getElementById("password");
      passwordInput.type = passwordInput.type === "password" ? "text" : "password";
    }
  </script>
</body>
</html>
